/*
 font-family: "Open Sans", sans-serif;
 font-family: "Alfa Slab One", serif;
 font-family: "Roboto", sans-serif;
*/
.margen {
    margin-top: 20px;
    margin-right: 10px;
    margin-bottom: 20px;
}
.footer { 
    height:500px;
    line-height: 40px;
    background:black;
    color:white;
    position:absolute;
    left:0;
    width:100%;
    padding: 20px;
}
.formulario {
    color: azure;
    font-family: "Roboto", sans-serif;
    text-align: left;
    padding: 10px;
    margin: 0px;
    position: relative;
}
.foot {
    color: azure;
    font-family: "Roboto", sans-serif;
    text-align: center;
    padding: 10px;
    margin: 0px;
    position: relative;
}
h5 {
    font-family: "Roboto", sans-serif;
}
h2 {
    font-family: "Alfa Slab One", serif;
    text-align: center;
}
p {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    text-align: center;
}
.term {
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    line-height: 25px;
    padding-right: 20px;
    text-align: left;
    padding-top: 20px;
}
.carousel_letra {
    color: black(255, 123, 0);
    background-color: rgba(169, 169, 169, 0.986);
    font-family: "Roboto", sans-serif;
}
.card-title {
    text-align: center;
}
