doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  head
  body
   nav
    ul
     li <a href="/">Home</a>
     li <a href="/prueba">Prueba</a>
     li <a href="/nosotros">Nosotros</a>
     
     li <a href="/servicios">Servicios</a>
     li <a href="/contacto">Contacto</a>
    block content
  body
